<header><h1>Test Lighthouse</h1></header>
<nav>
  <ul>
    <li><a href="#"> Section 1</a></li>
    <li><a href="#"> Article 2</a></li>
    <li><a href="#"> Article 3</a></li>
    <li><a href="#"> Article 3</a></li>
    <li><a href="#"> Article 5</a></li>
  </ul>
</nav>
<section>
  <h1>Section 1</h1>
  <img src="../assets/image-code.jpg" />
  <video autoplay muted src="../assets/video-code.mp4"></video>
</section>
<section>
  <h1 tabindex="1">Section 2</h1>
  <p>Ceci est un paragraphe</p>
</section>
<section>
  <h1>Section 3</h1>
  <p>Ceci est un formulaire</p>
  <form action="">
    <input type="text" />
    <button type="submit">clickez ici</button>
  </form>
</section>
<footer>Mon site</footer>
